.venv/
mlruns/
models/checkpoints/
video_scripts/
__pycache__/
*.pt
*.dll
*.mp4
*.mov
.env

data/raw/

data/raw/synthetic/
*.odt
yt_speech*

data/raw/synthetic/
*.odt
yt_speech*

# Data Blocking
data/
mlruns/
mlflow.db
*.pdf
*.png
*.odt
